{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{%block aboutactive%} active {%endblock aboutactive%}
{% block body %}<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">VISION</h1>
        <p>
          The main purpose of our project is to provide a website for all those
users which can provide resources as per needed to the users demand
like in text, speech, summarization or in their native language. Using this
websited any users around the world has full and complete access to the
resources available to the websites on any of the format they are
feasible and suitable.<br>
This project uses a NLP, NLTK which helps to summarize, convert into
different languages and in speech format. When a resources is uploaded
to the website, system automatically synchorize it into various text,
speech and summarize it. After the successful conversion of the
resources, it can be accessed and utilized it according to the need of the
users. Adding more on this system also rates the comment according to
the sentiment analysis which is also a key factor in our project that
shows the sentiment of comment.<br>
          </p>
      
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>OBJECTIVE</h2>
          <p><br>
            This  "Learning with NLP"  project aims to achieve the following objective:<br>
            1. To respond machine as human does<br>
            2. To processing of the text’s data<br>
            3. To convert the text’s data into audio format<br>
            4. To make sense  of the human language in the manner that is valuable<br>
            5. To convert the data of one language  into another language<br>
             </p>
          
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
         
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  {% endblock body %}