{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{%block contactactive%} active {%endblock contactactive%}
{% block body %}
<div class="container my-5 ">
  <h3> Contact Us</h3>

  <form method='post' action='/contact/'>
  {% csrf_token %}

    <div class="form-group">
      <label for="name" class="name">Name</label>
      <input type="text" class="form-control" id="name"name="name" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email"name="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="form-group">
      <label for="phone" class="Phone">Phone Number </label>
      <input type="tel" class="form-control" id="phone" name="phone">
    </div>

    <div class="form-group">
      <label for="content">Describe Issues:</label><br>
      <textarea input type="content-form" name='content' class="content" id="content" rows=5 cols=30>
      </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
{% endblock body %}