{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{%block homeactive%}active{%endblock homeactive%}
{% block body %}
<div class="container my-40 primary"  >
  <main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1></h1>
              <p>For an Blog present in website </p>
              <p><a class="btn btn-lg btn-primary" href="/blog">Go to Blog</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" src="/static/img/cc.jpeg" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
  
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p>Some representative placeholder for about the  website </p>
              <p><a class="btn btn-lg btn-primary" href="about">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>One more for good measure.</h1>
              <p>If you want to contact us for more information</p>
              <p><a class="btn btn-lg btn-primary" href="/contact">Go to Contact</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="/static/img/Machine-Learning.avif" class="bd-placeholder-img rounded-circle" width="180" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>
  
          <h2 class="fw-bold">Machine Learning</h2>
          <p class="blockquote">Machine learning (ML) is a field of inquiry devoted to understanding and building methods that 'learn', that is, methods that leverage data to improve performance on some set of tasks.</p>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/static/img/nlp.png" class="bd-placeholder-img rounded-circle" width="180" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>
  
          <h2 class="fw-bold">Natural Language Processig</h2>
          <p class="blockquote">Natural language processing (NLP) is a subfield of linguistics, computer science, and artificial intelligence concerned with the interactions between computers and human language, in particular how to program computers to process and analyze large amounts of natural language data.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/static/img/textsum.png" class="bd-placeholder-img rounded-circle" width="180" height="180" xmlns="http://www.w3.org/2000/svg" role="img" preserveaspectratio="xMidYMid slice" focusable="true"><title>Placeholder</title><rect width="150%" height="150%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>
  
          <h2 class="fw-bold">Text Summerization</h2>
          <p class="blockquote"> Text summarization is the process of distilling the most important information from a text to produce an abridged version for a particular task and user.</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
     
      
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-bold lh-1">Text To Speech <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="blockquote">Text-to-speech converts text into human-like speech, along with the ability to create a unique, custom voice to use in your applications. We introduce the different types of voices, how to use them, and review situations when they are appropriate to use.<br>

            Learning objectives<br>
            In this module, you will:<br>
            
            </p><li>Assess the benefits of Text-to-speech</li>
           <li> Describe what Text-to-speech is</li>
            <li>Define scenarios where Text-to-speech can be applied</li><p></p>
        </div>
        <div class="col-md-5"><img src="/static/img/texttospeech.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" <="" rect=""><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
  
        </rect></div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-bold lh-1">Text Translation <span class="text-muted">You will Remember This.</span></h2>
          <p class="blockquote">Translation means converting written information from one language into another. Conversion is not restricted to written text. For example, text can be converted to a CD, DVD or sound file.Anything can be translated. The purpose of translating can be to:

            </p><li>Deliver important information to people who need it</li>
           <li> Reinforce face-to-face communication</li>
            <li>Provide information for referral when needed</li>
            <li>Make information accessible to clients.</li>
            <p></p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="/static/img/translate.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-bold lh-1">Sentiment analysis <span class="text-muted"></span></h2>
          <p class="blockquote">Sentiment analysis, also referred to as opinion mining, is an approach to natural language processing (NLP) that identifies the emotional tone behind a body of text. This is a popular way for organizations to determine and categorize opinions about a product, service, or idea.</p>
        </div>
        <div class="col-md-5">
          <img src="/static/img/senti.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>©VISION  <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
  </main>
    </div>
{% endblock body %}</body>